stages:
  - build

build_job:
  stage: build
  image: node:18-alpine
  script:
    - npm install express
    - npm install mysql2
    - echo "Build completed."
  artifacts:
    paths:
      - node_modules/
    expire_in: 1 week
